
div.name {
 display: inline;
}

div.values {
 display: inline;
}

div.value {
 display: inline;
 padding-left: .2em;
}


.rexp {
 padding-left: .2em;
}

.attributes {
 margin-left: 1em;
 border-left: 1px solid red;
 padding: .2em;
}

.vector {
 border-left: 1px solid blue;
 padding-left: .3em;
 margin-left: .1em;
}

.length {
 color: blue;
}

.typename {
 font-weight: bold;
}

ul, li {
 margin: 0;
 padding: 0;
}
